{% extends "game/base.html" %} {% block content %}
<div class="registerpage">
<h2>회원가입</h2>
<form method="post" action=".">
    {% csrf_token %} {% if form.errors %}
    <p>아래 입력내용을 다시 확인하세요.</p>
    {% endif %}
    <p>이름과 비밀번호를 입력하세요.</p>
    <table class="table table-condensed">
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td> {{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password1.label_tag }}</td>
            <td> {{ form.password1 }}</td>
        </tr>
        <tr>
            <td>{{ form.password2.label_tag }}</td>
            <td> {{ form.password2 }}</td>
        </tr>
    </table>
    <div>
        <input type="submit" value="회원가입" class="btn btn-default" />
    </div>

</form>
</div>
{% endblock content%} {% block javascript %}
<script>
    $("#id_username").change(function () {
        var username = $(this).val();
        //console.log(username);

        $.ajax({
            url: '{% url "validate_username" %}',
            data: {
                'username': username
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    alert(data.error_message);
                }
            }
        });
    });
</script>
{% endblock %}